@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

.wrap {
  width: 900px;
  margin: 0 auto;
  border-left: 1px solid #B6C7AF;
  border-right: 1px solid #B6C7AF;
}

h1,
h2,
p,
li {
  font-family: Roboto;
}

h1 {
  font-size: 35px;
}

h3 {
  font-family: Roboto;
  text-decoration: underline;
  text-align: center;
}

p {
  font-size: 18px;
}

.header-wrap {
  display: flex;
}

.header {
  width: 300px;
  margin-left: auto;
}

.fig {
  margin-right: auto;
  margin-left: 300px;
}

.pic {
  border: 3px solid #B6C7AF;
}

figcaption {
  font-family: Roboto;
  text-align: center;
}

section {
  margin-left: 50px;
  margin-right: 50px;
}

code {
  font-weight: 700;
}

.contacts {
  left: 40px;
  bottom: 30px;
}

.contacts h3 {
  text-align: left;
  text-decoration: none;
}

.footer-logos {
  display: flex;
  align-items: center;
}

.gh-logo {
  width: 300px;
  margin-left: auto;
}

.rs-logo {
  margin-right: auto;
  margin-left: 300px;
}
